header{
    justify-content: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid black;
    color: white;
    padding-left: 2%;
    padding-right: 2%;

    h1{
        font-size: 50px;
    }

    p{
        font-size: 20px;
    }

}

body{
    min-height: 100vh;
    background-image: url("Visual Resources/New 1.png");
    background-size: contain;
    background-position: center;
    background-color: gray;
    background-repeat: no-repeat;
    margin-left: 4%;
    margin-right:4%;
}

main{
    display: flex;
    border: solid yellow;
    justify-content: flex-start;
}

.side_bar{
    border: solid green;
    margin-right: 2%;
}

.creature_table{
    border: solid blue;
    display: flex;
    justify-content: space-between;
}

.critterBox{
    border: solid red
}