header{
    justify-content: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid black;

    h1{
        font-size: 50px;
    }

    p{
        font-size: 20px;
    }

}

main{
    display: flex;
    border: solid yellow;
    justify-content: flex-start;
}

.side_bar{
    border: solid green;
    margin-right: 2%;
}

.creature_table{
    border: solid blue;
    display: flex;
    justify-content: space-between;
}

.critterBox{
    border: solid red
}